doctype html

link(rel='stylesheet' href='/stylesheets/inschrijfStyle.css')

//form
.contact-us
    form(method='POST' action='')
        h1 Groepen Toevoegen
        input#naam(type='text', placeholder='Naam', name='naam', required='')
        button(type='submit') Toevoegen!


