extends layout

block content
  h1= title
  p Welkom in de leidings sectie van de site. Hier zou u alle nodige informatie moeten terugvinden.

  h2 Dynamische groepen:
  ul
    li
      a(href='/data/groepen') #[strong Groepen:] !{data.groep_count}
    li
      a(href='/data/leiding') #[strong Leiding:] !{data.leider_count}
    li
      a(href='/data/leden') #[strong Leden:] !{data.lid_count}

