doctype html

link(rel='stylesheet' href='/stylesheets/inschrijfStyle.css')

//form
.contact-us
    form(method='POST' action='')
        h1 Leiding Toevoegen
        input#voornaam(type='text', placeholder='Voornaam', name='voornaam', required='')
        input#achternaam(type='text', placeholder='Achternaam', name='achternaam', required='')
        input#groep(type='enum', placeholder='Groep/functie', name= 'groep', required='')
        input#leeftijd(type='number' placeholder='Leeftijd' name ='leeftijd' min='6' max='17' required='')
        input#fotolink(type='text', placeholder='Plaats hier een profielfoto link (https)', name='fotolink', required='')
        button(type='submit') Inschrijven!