extends layout

block content
    h1= title

    ul
        each lid in leden_list
            li
                a #{lid.naam}
                    #{lid.leeftijd}
        else
            li There are no leden.