doctype html
title Chiromeisjes Marke
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/stylesheets/style.css')

link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='/stylesheets/styleContact.css')


style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}


// Navbar
.w3-top
    .w3-bar.w3-red.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);' onclick='myFunction()' title='Toggle Navigation Menu')
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/leiding') Leiding
         a.w3-bar-item.w3-button.w3-padding-large.w3-white.w3-hover-white(href='/contacteren') Contacteren

    // Navbar on small screens
    #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
        a.w3-bar-item.w3-button.w3-padding-large(href='/') Home
        a.w3-bar-item.w3-button.w3-padding-large(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-padding-large(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-padding-large(href='/leiding') Leiding

    // facebook api
    #fb-root 
    script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v12.0' nonce='g46rG5Ft')
  


section.ftco-section
  .container
    .row.justify-content-center
      .col-md-6.text-center.mb-5
    .row.justify-content-center
      .col-md-12
        .wrapper
          .row.no-gutters.mb-5
            .col-md-7
              .contact-wrap.w-100.p-md-5.p-4
                h3.mb-4 Praktische info:
                ul
                  li WANNEER: elke zondag van 14h tot 17h30
                  li BETALINGEN: Rekeningnummer: BE86 7755 7063 4550
                  li Volg onze Facebookpagina voor het laatste nieuws!
                  .fb-page(data-href='https://www.facebook.com/Chiromeisjes-Marke-839222196166401' data-tabs='timeline' data-width='700' data-height='400' data-small-header='true' data-adapt-container-width='true' data-hide-cover='true' data-show-facepile='true')
                    blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/Chiromeisjes-Marke-839222196166401')
                      a(href='https://www.facebook.com/Chiromeisjes-Marke-839222196166401') Chiromeisjes Marke




            .col-md-5.d-flex.align-items-stretch
              div
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.264693212376!2d3.230151415712967!3d50.80773436943711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c33ab1138c933d%3A0xbd3e112cc39a497!2sDe%20Krinkel!5e0!3m2!1snl!2sbe!4v1638368711228!5m2!1snl!2sbe' width='600' height='650' style='border:0;' allowfullscreen='' loading='lazy')
          .row
            .col-md-6
              .dbox.w-100.text-center
                .icon.d-flex.align-items-center.justify-content-center
                  span.fa.fa-map-marker
                .text
                  p
                    span
                    |  Markekerkstraat 8, 8510 Marke
            
            .col-md-6
              .dbox.w-100.text-center
                .icon.d-flex.align-items-center.justify-content-center
                  span.fa.fa-paper-plane
                .text
                  p
                    span
                    a(href='mailto:chiromeisjesmarke@hotmail.com') chiromeisjesmarke@hotmail.com
            




script.

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    

