doctype html
title Chiromeisjes Marke
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/stylesheets/style.css')


style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}

style.
  body,h1 {font-family: "Montserrat", sans-serif}
  img {margin-bottom: -7px}
  .w3-row-padding img {margin-bottom: 12px}


// Navbar
.w3-top
    .w3-bar.w3-red.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);' onclick='myFunction()' title='Toggle Navigation Menu')
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-padding-large.w3-white.w3-hover-white(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/contacteren') Contacteren
    // Navbar on small screens
    #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
        a.w3-bar-item.w3-button.w3-padding-large(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-padding-large(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-padding-large(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-padding-large(href='/contacteren') Contacteren

// Header
header.w3-center.w3-margin-bottom.w3-margin-top
  h1.w3-margin-top
    b SFEERBEELDEN
  p.w3-padding-16
    button.w3-button.w3-black(onclick='toggle()') rooster aan/uit
// Photo Grid
#myGrid.w3-row(style='margin-bottom:128px')
  .w3-third
    img(src='/images/fotos_page/111.jpg' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/257546598_4767149713373610_8160743199493460121_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=RZqsifZtHQgAX8MIhKs&tn=LEHl9jmrJxgSNTg_&_nc_ht=scontent-bru2-1.xx&oh=e15d3ce5156ea98a3ede5b3c4e4b83f6&oe=61AB66E8' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/261666414_4767173196704595_2171750306504440604_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=iQ9-qgT-Yw8AX-X5mHr&_nc_ht=scontent-bru2-1.xx&oh=4714d025cdc7fba68d109c07b385bdac&oe=61AC107D' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/257368559_4767149373373644_3439742100912974820_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=0debeb&_nc_ohc=IKzlzeGx300AX9YZRwj&_nc_ht=scontent-bru2-1.xx&oh=ba816f2892ff48dcb663f6d6f82e046e&oe=61AAB18B' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/259569612_4767149653373616_373324288567763885_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=rvtaV4CVh8IAX-Tv7EF&_nc_ht=scontent-bru2-1.xx&oh=87bd7cb65293bb4f45b364f490a63c44&oe=61AAFC7A' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/257968457_4767148796707035_6188093773357516433_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Iy033vPAgjsAX_KTjj8&_nc_ht=scontent-bru2-1.xx&oh=44e45f876960cc85bac696ea4bde73d3&oe=61AA8A78' style='width:100%')
  .w3-third
    img(src='https://www.facebook.com/Chiromeisjes-Marke-839222196166401/photos/a.1549820218439925/1549820868439860/' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/247390334_4636802743074975_2589386613862871882_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=hi84r54U2WYAX-SewL0&_nc_ht=scontent-bru2-1.xx&oh=92c4a85ea3ee209b7ddf4342c3d56de4&oe=61AAF1C7' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/246456539_4636820833073166_3080996313841419411_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Z77cEppi_UIAX8NitqX&_nc_ht=scontent-bru2-1.xx&oh=9e2aed261180e83b6b9bc6688bfea374&oe=61AAE816' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/257968457_4767148796707035_6188093773357516433_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Iy033vPAgjsAX_KTjj8&_nc_ht=scontent-bru2-1.xx&oh=44e45f876960cc85bac696ea4bde73d3&oe=61AA8A78' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/257968457_4767148796707035_6188093773357516433_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Iy033vPAgjsAX_KTjj8&_nc_ht=scontent-bru2-1.xx&oh=44e45f876960cc85bac696ea4bde73d3&oe=61AA8A78' style='width:100%')

  .w3-third
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
    img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' style='width:100%')
// End Page Content
  
    
script.

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // Toggle grid padding
    function toggle() {
        var x = document.getElementById("myGrid");
        if (x.className === "w3-row") {
            x.className = "w3-row-padding";
        } else {
            x.className = x.className.replace("w3-row-padding", "w3-row");
        }
    }