doctype html
title Chiromeisjes Marke
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/stylesheets/style.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')



style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}


// Navbar
.w3-top
    .w3-bar.w3-red.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);' onclick='myFunction()' title='Toggle Navigation Menu')
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large.w3-white.w3-hover-white(href='/') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/contacteren') Contacteren
    .w3-right-align
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/data') Ik ben leiding
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/register') registreren

    // Navbar on small screens
    #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
        a.w3-bar-item.w3-button.w3-padding-large(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-padding-large(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-padding-large(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-padding-large(href='/contacteren') Contacteren


// Header
header.w3-container.w3-red.w3-center(style='padding:128px 16px')
    h1.w3-margin.w3-jumbo CHIROMEISJES MARKE
    a.w3-button.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-hover-white(href='/inschrijven') Schrijf Je In !

// First Grid
.w3-row-padding.w3-padding-64.w3-container
    .w3-content
        .w3-twothird
            h1 Chiro, Jouw Adres Op Zondag!
            h5.w3-padding-32
                | Verveel jij je soms zondagnamiddag? Ben je niet bang om eens vuil te worden? Heb je zin om iedere zondag te ravotten met jouw (nieuwe) vriendinnen? Dan is Chiromeisjes Marke zeker iets voor jou!
            p.w3-text-grey
                | Bij ons is ieder enthousiast meisje van het eerste leerjaar t.e.m. het vijfde middelbaar welkom. Iedere zondag van 14u tot 17u30 staan de leidsters paraat in de Krinkel om de chiromeiden een fantastische namiddag te geven vol spel en plezier. Ondersteunt door onze VB'tjes doen we ons uiterste best om ieder kind de zondag van hun leven te geven. Naast de zondagen gaan we per afdeling 1 keer per jaar op weekend (data: zie afdelingen). Dan hebben we ook nog ons kamp dat doorgaat van 31 juli tot 10 augustus.
        .w3-third.w3-center
            img(width = '400' height = '400' src='https://chirosintjan.be/chirosintjan/wp-content/uploads/2015/09/cropped-chiro.png' alt='alternatetext')


// Second Grid
.w3-row-padding.w3-light-grey.w3-padding-64.w3-container
    .w3-content
        .w3-center
            iframe(style='width:50%' width='560' height='315' src='https://www.youtube.com/embed/X-JdFUC7-3I' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        



script.

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }


