doctype html
title Chiromeisjes Marke
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/stylesheets/style.css')
style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}

style.
  body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  }
  html {
  box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
  }
  .column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  }
  .about-section {
  padding: 50px;
  text-align: center;
  background-color: #de032a;
  color: white;
  }
  .container {
  padding: 0 16px;
  }
  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }
  .title {
  color: grey;
  }
  .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  }
  .button:hover {
  background-color: #555;
  }
  @media screen and (max-width: 650px) {
  .column {
  width: 100%;
  display: block;
  }
  }



// Navbar
.w3-top
    .w3-bar.w3-red.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);' onclick='myFunction()' title='Toggle Navigation Menu')
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-padding-large.w3-white.w3-hover-white(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-grayscale(href='/contacteren') Contacteren

    // Navbar on small screens
    #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
        a.w3-bar-item.w3-button.w3-padding-large(href='/groepen') Groepen
        a.w3-bar-item.w3-button.w3-padding-large(href='/fotos') Foto&apos;s
        a.w3-bar-item.w3-button.w3-padding-large(href='/leiding') Leiding
        a.w3-bar-item.w3-button.w3-padding-large(href='/contacteren') Contacteren

.about-section
  h1 LEIDING CHIROMEISJES MARKE 2021-'22
  p Met trots stellen wij u de leidingsbende van 2021-'22 voor.
.row
  .column
    .card
      img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/249012744_1907813826090553_4168149567721688887_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hCnTJ4YtcBAAX8nbiIi&_nc_ht=scontent-bru2-1.xx&oh=b75663f30aa7c7c2882b50f70670bb5c&oe=61AB07D6' alt='Jane' style='width:100%')
      .container
        h2 Emma Deleu
        p.title Hoofdleiding 
        p Hallo ik ben emma en ik houd van plezier maken
        p emma.deleu@gmail.com
        p
          button.button Contact
  .column
    .card
      img(src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.6435-9/92393300_1591061304381854_6942143837401776128_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=p-OjvxMGcrMAX9w-feS&_nc_ht=scontent-bru2-1.xx&oh=15c2ddf53d5fef783a55cb404d2a328c&oe=61CB6852" alt='Mike' style='width:100%')
      .container
        h2 Elise Vanhoonacker
        p.title leidster aspi's
        p Ik ben Elise en ik studeer mode aan de vives
        p elise.Vanhoonacker@outlook.com
        p
          button.button Contact
  .column
    .card
      img(src='https://scontent-bru2-1.xx.fbcdn.net/v/t1.6435-9/52557694_1961279867331468_8841256570420461568_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=FeZhBiGYq7MAX_HwX7x&_nc_ht=scontent-bru2-1.xx&oh=b55b23724c6d10dbc92e1fc5bf2eec0d&oe=61CD9638' alt='John' style='width:100%')
      .container
        h2 Hanne Santy
        p.title leiding speelclub
        p Dag lieve kindjes. Mijn naam is Santy en ik houd van stenen en aarde
        p john@example.com
        p
          button.button Contact

script.

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }